Daniel da Silva Siqueira
.daniel {
  text-align: 10px;
  background-color: blue;
  display: flex;
  justify-content: baseline;
}
.daniel {
  text-align: 10px;
  background-color: blue;
  display: flex;
  justify-content: baseline;
}


